<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <localRepository>${user.home}/.m2/repository</localRepository>
    <interactiveMode>true</interactiveMode>
    <offline>false</offline>
    <profiles>
        <profile>
            <id>default</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <JAVA_17_HOME>C:\Program Files\Java\jdk-17.0.1</JAVA_17_HOME>
            </properties>
        </profile>

    </profiles>
    <servers>
        <server>
            <id>maven-group</id>
            <username>deployment</username>
            <password>IamnoJedi</password>
        </server>
    </servers>

    <activeProfiles/>
</settings>